[submodule "lib/libslirp-rs"]
	path = lib/libslirp-rs
	url = https://gitlab.freedesktop.org/nbdd0121/libslirp-rs.git
[submodule "lib/libslirp-sys"]
	path = lib/libslirp-sys
	url = https://gitlab.freedesktop.org/nbdd0121/libslirp-sys.git
